name: Test PyCI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies and make C++ library
      run: |
        python3 -m pip install --user numpy scipy pytest pycodestyle pydocstyle
        PYTHON=python3 make
    - name: Run PyCI tests
      run: |
        PYTHON=python3 make test
